<div *ngIf="cargaFinalizada; else spinner">
    <ol class="breadcrumb float-xl-end">
      <li class="breadcrumb-item">
        <a [routerLink]="['/private/dash']"><i class="fa fa-home"></i></a>
      </li>
      <li class="breadcrumb-item"><a href="javascript:;">Productos</a></li>
      <li class="breadcrumb-item active">Adminstrar</li>
    </ol>
  
    <h1 class="page-header">Productos Administrar<small>&nbsp;</small></h1>
    <app-panel title="&nbsp;">
      <div class="d-flex justify-content-end mb-3">
        <a href="javascript:;" class="btn btn-sm btn-success" (click)="openModalCrear()">
          Agregar&nbsp;
          <i class="fa fa-plus"></i>
        </a>
      </div>
  
      <div class="row" style="padding-bottom: 15px">
        <div class="col-sm-12 col-md-4">
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <select
                name="cantRegis"
                style="font-weight: normal"
                class="form-select form-select-sm"
                [(ngModel)]="cantidadMostrar"
                (change)="cambiarPaginador($event.target)"
              >
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
              </select>
            </div>
            <div class="col-auto">
              <span class="form-text">registros</span>
            </div>
          </div>
        </div>
  
        <div class="col-md-8">
          <div class="row g-3 align-items-center">
            <div class="col-md-4 d-flex justify-content-end">
              <span class="form-text">Buscar por nombre:</span>
            </div>
            <div class="col-md-8 d-flex justify-content-end">
              <input
                id="autocomplete"
                class="form-control"
                [(ngModel)]="_cadenaBuscar"
                placeholder="Nombre producto"
                [typeahead]="fuenteDatos"
                [typeaheadMinLength]="3"
                [typeaheadIsFirstItemActive]="false"
                [adaptivePosition]="true"
                (ngModelChange)="sizeProperty($event)"
                (typeaheadOnSelect)="selecionadoCombo()"
                (keyup.enter)="enterCombo($event)"
                [typeaheadSelectFirstItem]="false"
                autocomplete="off"
              />
            </div>
          </div>
        </div>
      </div>
  
      <!-- BEGIN table-responsive -->
      <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th style="width: 10%" class="text-center">Categoria</th>
              <th style="width: 10%" class="text-center">Referencia</th>
              <th style="width: 30%" class="text-center">Nombre</th>
              <th style="width: 20%" class="text-center">Descripción</th>
              <th style="width: 10%" class="text-center">Precio</th>
              <th style="width: 10%" class="text-center">Estado</th>
              <th style="width: 10%" class="text-center">Opciones</th>
            </tr>
          </thead>
          <tbody class="table-sm">
            <tr
              *ngFor="
                let objProducto of arregloProductos
                  | paginate
                    : {
                        id: 'productoPaginacion',
                        itemsPerPage: cantidadMostrar,
                        currentPage: paginaActual,
                        totalItems: cantidadTotalRegistros
                      }
              "
            >
              <td>{{ objProducto.nombreCategoria }}</td>
              <td class="text-center">{{ objProducto.referenciaProducto }}</td>
              <td>{{ objProducto.nombreProducto }}</td>
              <td>{{ objProducto.descripcionProducto }}</td>
              <td style="text-align: right;">{{ objProducto.precioVentaProducto }}</td>
              <td class="text-center">
                <span [ngClass]="objProducto.estadoProducto == 1 ? 'text-success' : 'text-danger'">
                  {{ objProducto.estadoProducto == 1 ? "ACTIVO" : "INACTIVO" }}
                </span>
              </td>
              <td style="text-align: center">
                &nbsp;
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="row">
        <div class="col-md-4">
          <small
            ><strong>{{ cantidadTotalRegistros }}</strong> Registros encontrados en <strong>{{ cantidadPaginas }}</strong> paginas</small
          >
        </div>
        <div class="col-md-8 d-flex justify-content-end">
          <small>
            <pagination-controls
              id="categoriaPaginacion"
              (pageChange)="handlePageChange($event)"
              [maxSize]="10"
              [directionLinks]="true"
              previousLabel="Anterior"
              nextLabel="Siguiente"
            >
            </pagination-controls>
          </small>
        </div>
      </div>
      <!-- END table-responsive -->
    </app-panel>
  </div>
  <!--BEGIN ventanas modales-->
  
  <ng-template #spinner>
    <app-spinner></app-spinner>
  </ng-template>
  

  <!-- END ventanas modales -->
  